.left-side-menu{
  left: 0;
  width: 300px;
  height: 100vh;
  background-color: #292323cc;
  color: #fff;
  border-radius: 6px;
}
.menu-icon{
    display: none;
    left: 0;
    color: #111;
    font-size: 25px;
}
.left-side-menu ul li{
    list-style: none;
}
.left-side-menu ul li:hover{
    background-color: #4b4b4bcc;
    padding: 4px;
}
.left-side-menu a{
    text-decoration: none;
    color: #fff;
}
.brand{
    display: flex;
    padding: 5px;
    width: 100%;
}
.brand .menu{
  margin-left: 130px;
}
.right-side{
 
}
.right-side .home-head{
    display: flex;
}
.user-info{
    margin-left: 80%;
    display: flex;
    padding: 4px;
}

.tasks-container{
  width: 80%; 
  display: block;
  margin: 0 auto;
}
.tasks-container #due-soon{
    border-bottom: solid 1px #7e7c7c;
}
.tasks-container .new-project{
    display: block;
    width: 100px;
    height: 100px;
    border-radius: 6px;
    border: solid 1px #7e7c7c;
    text-align: center;
}
.tasks-container .new-project .fa-plus{
    font-size: 30px;
    color: #858585;
    margin-top: 35px;
}