body {
    font-family: Arial, Helvetica, sans-serif;
}

/* .login-layout
{
    display: block;
    height: 100%;
    background-color: #fff;
    border-radius: 12px;
    box-shadow: -4px -4px 4px 4px #dadada;
} 

.login-layout h2{
    text-align: center;
    padding: 5px;
}
    width:50%;
    margin: auto;
} */

form {
    border: 3px solid #f1f1f1;
}

input[type=text],
input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

button {
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
}

button:hover {
    opacity: 0.8;
}

.other-login {
    width: auto;
    padding: 10px 18px;
    background-color: #36bef4;
}

.imgcontainer {
    text-align: center;
    margin: 24px 0 12px 0;
}

img.avatar {
    width: 20%;
    border-radius: 50%;

}

.container {
    padding: 16px;
}

span.psw {
    float: right;
    padding-top: 16px;
}

/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
    span.psw {
        display: block;
        float: none;
    }

    .cancelbtn {
        width: 100%;
    }
}
.rem-reg
{
    width:100%;
}
.reg-btn{
    float: right;
    display: block;
}

a {
    color: dodgerblue;
}

.login-msg{
    text-align: center;
}

.log-error{
    color:red;
 }

 /* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
     .login-layout
    {
        width:100%;
    } 
} 

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  .login-layout
    {
        width:50%;
        margin: 100px auto auto auto;
        padding: 20px;
    } 
} 

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .login-layout
    {
        width:40%;
        margin: 100px auto auto auto;
        padding: 20px;
    } 
} 

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
      .login-layout
    {
        width:30%;
        margin: 100px auto auto auto;
        padding: 20px;
    } 
} 

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
     .login-layout
    {
        width:30%;
        margin: 100px auto auto auto;
        padding: 20px;
    } 
}