a{
    text-decoration: none;
    color: inherit;
}
a:hover{
    text-decoration: none;
}
.project-container{
    background-color: #eeeeee;
    padding: 20px;
}
.project-menu{
    display: flex;
    justify-content:space-between;
    
    width: 100%;
    border-bottom: 1px solid #111;
    margin-bottom: 10px;
}
.project-menu .pro-nav{
    display: block;
    font-size: 20px;
    margin-left: 20px;
    border-radius: 6px;
    padding: 4px;
}
.project-menu .pro-nav:hover{
   background-color: #eeeeee;  
   color: #111; 
}
.task-container{
    display: flex;
    /* background-color: #eeeeee;
    padding: 20px;
    border-radius: 6px; */
}
.tasks-box{
  width: 350px;
  padding: 20px;
  border-right: 1px solid #cccc;

}
.add-task{
    display: none;
    background-color: #fff;
    padding: 8px;
    border-radius: 10px;
    box-shadow: 4px 4px 4px 4px #ebebeb;
}
.add-task form{
    display: flex;
}
.add-task input{
    border: none;
}

.task{
    background-color: #fff;
    box-shadow: 4px 4px 4px 4px #ebebeb;
    padding: 2px 10px;
    border-radius: 6px;
    cursor: pointer;
    margin-top: 5px;
}

.task-info{
    display: none;
    float: right;
    right: 0;
    width: 500px;
    background-color: #fff;
    z-index: 2;
    padding: 20px;
    border-radius: 10px;
    border: solid 1px #eeeeee;
    box-shadow: 6px 6px 6px 6px #eeeeee;
}

.task-info .fa-arrow-right{
    font-size: 22px;
}
